* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 250, 250);
    overflow: hidden;
}

body::before {
    content: "";
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(12, 125, 201);
    position: absolute;
    top: 80%;
    left: -7%;
    box-shadow: 5px 0px 15px 0px rgb(164, 183, 194);
}

body::after {
    content: "";
    display: block;
    width: 0; 
    height: 0;
    border-style: solid;
    border-width: 160px 300px 160px 300px;
    border-color: transparent transparent transparent rgb(255, 233, 179); 
    transform: rotate(70deg);
    position: absolute;
    top: 12%;
    left: 83%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    height: 83%;
}

.starting-screen, .quiz-screen, .topic-screen {
    position: relative;
    width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid rgb(201, 232, 253); */
    background-color: rgb(245, 250, 250);
    border-radius: 10px;
}

.starting-screen {
    font-family: "Stack Sans Notch", sans-serif;
}

.starting-screen > h1 {
    font-size: 40px;
    color: rgb(24, 11, 86);
}

.starting-screen > p {
    font-size: 22px;
    margin: 20px 0px;
}

.starting-screen > button {
    position: relative;
    height: 50px;
    white-space: no-wrap;
    padding: 2px 22px;
    width: auto;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Stack Sans Notch", sans-serif;
    color: white;
    background-color: rgba(19, 10, 57, 1);
    margin-top: 30px; 
    border: unset;
    transition: transform 0.4s ease-in-out;
}

.starting-screen > button::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background: linear-gradient(
        45deg,
        rgba(247, 246, 255, 0) 0%,
        rgba(247, 246, 255, 0) 12%,
        rgba(247, 246, 255, 0.7) 20%,
        rgba(247, 246, 255, 0) 28%,
        rgba(247, 246, 255, 0) 100%
    );
    background-size: 600%;   
    animation: glistening 19s linear infinite;
}

.starting-screen > button:hover {
    transform: scale(1.1);
    background-color: rgb(227, 227, 228);
}

.starting-screen > button:active {
    background-color: rgba(19, 10, 57, 1);
}

@keyframes glistening {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 600% 0;
    }
}

.starting-screen::after, .quiz-screen::after, .topic-screen::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 230, 244);
    top: calc(0% + 10px);
    left: calc(0% - 10px);
    z-index: -1;
    border-radius: 22px;
}


.quiz-screen > .quiz-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 30px 20px 25px;
    overflow-y: auto;
}

.quiz-form::-webkit-scrollbar {
    width: 12px;
}

.quiz-form::-webkit-scrollbar-track {
    background-color: rgb(232, 242, 244);
    border-radius: 8px;
    margin-block: 5px;
}

.quiz-form::-webkit-scrollbar-thumb {
    background-color: rgb(205, 212, 212);
    border-radius: 8px;
}

.quiz-form::-webkit-scrollbar-thumb:hover {
    background-color: rgb(183, 189, 190);
}

.quiz-form > fieldset.quiz {
    border: none;
    margin-top: 20px;
}

.quiz > hr {
    background-color: rgb(207, 218, 219);
    height: 8px;
    border-radius: 4px;
    margin: 20px 0px 10px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
}

.question-container > .difficulty-label {
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
}

.question-container > .difficulty-label.easy {
    color: rgb(56, 218, 61);
    font-weight: 600;
}

.question-container > .difficulty-label.medium {
    color: rgb(223, 185, 60);
    font-weight: 600;
}

.question-container > .difficulty-label.hard {
    color: rgb(214, 16, 16);
    font-weight: 700;
}

.question-container > legend.quiz-question {
    font-family: "Stack Sans Text", sans-serif;
    font-size: 20px;
    font-weight: 500;
}


.multiple-choice-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 10px;
}

.multiple-choice-container.gameover {
    color: rgb(126, 127, 127);
}

.choice {
    position: relative;
    display: inline-block;
    white-space: no-wrap;
    width: auto;
    padding: 7px 15px;
    border-radius: 12px;
    border: 2px solid black;
    box-shadow: 4px 2px 2px 0px rgb(185, 189, 208);
    font-size: 17px;
    font-weight: 500;
    font-family: "Stack Sans Notch", sans-serif;
    transition: transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
}

.choice:hover {
    transform: translateY(-3px);
    box-shadow: 4px 6px 2px 0px rgb(185, 189, 208);
}

.choice.picked {
    background-color: rgb(42, 44, 44);
    color: white;
}

.choice.right {
    background-color: #94D7A2;
    color: black;
}

.choice.wrong {
    background-color: #F8BCBC;
    color: black;
}

.choice > input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.check-answer-button {
    position: relative;
    width: 250px;
    padding: 8px;
    margin: 40px auto;
    font-size: 20px;
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(15, 14, 15);
    border-radius: 10px;
    transition: transform 0.3s ease-out;
}

.check-answer-button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background: linear-gradient(60deg, rgb(242, 242, 241) 0%, rgb(246, 203, 88) 60%, rgb(0, 0, 0) 85%, rgb(242, 242, 241) 100%);
    background-size: 400%;
    border-radius: 10px;
    animation: answerButtonGlowing 18s ease-in-out infinite;
}

@keyframes answerButtonGlowing {
    0% {
        background-position: -100% 0;
    } 70% {
        background-position: 300% 0;
    } 100% {
        background-position: 600% 0;
    }
}

.check-answer-button:hover {
    transform: scale(1.1);
    background-color: transparent;
    color: black;
}

.result-announce {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px;
    margin-top: 24px;
    margin-bottom: 25px;
}

.result-announce > p {
    font-size: 22px;
    font-weight: 700;
    font-family: "Stack Sans Notch", sans-serif;
}

.reset-button-container {
    position: relative;
    width: 150px;
    height: 40px;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.reset-button-container:hover {
    transform: scale(1.05);
}

.reset-button-container::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    transform: translate(-50%, -50%);
    width: calc(150 + 5px);
    height: calc(40 + 5px);
    background: linear-gradient(45deg, rgb(177, 6, 225), rgb(1, 1, 1), rgb(177, 6, 225), rgb(177, 6, 225));
    background-size: 400%;
    animation: resetButtonGlowing 10s linear infinite;
    z-index: -1;
}

.reset-button {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 42, 90);
    border-radius: 10px;
    border: unset;
    font-size: 17px;
    font-weight: 600;
    color: white;
}

.reset-button:active {
    background-color: white;
    color: black;
}


@keyframes resetButtonGlowing {
    0% {
        background-position: 0 0;
    } 50% {
        background-position: 300% 0;
    } 100% {
        background-position: 0 0;
    }
}



.topic-screen {
    row-gap: 17px;
}

.topic-screen > h1 {
    font-size: 34px;
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 500;
    color: rgb(53, 54, 66);
    margin-top: 24px;
}

.topic-button-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.topic-button {
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Stack Sans Text", sans-serif;
    color: white;
    background-color: rgb(79, 127, 238);
    border: unset;
    border-radius: 10px;
    transition: background-color 0.3s linear;
    transition: color 0.3s linear;
    cursor: pointer;
}

.topic-button:hover {
    background-color: rgb(208, 210, 212);
    color: black;
}

.text-before-slider {
    font-size: 30px;
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 500;
    color: rgb(53, 54, 66);
}

.slider-container {
    position: relative;
    margin-top: 15px;
}


#slider {
    -webkit-appearance: none;
    width: 350px;
    height: 10px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#selector {
    position: absolute;
    top: 60%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid black;
    z-index: 0;
    background-color: rgb(79, 127, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    font-family: "Stack Sans Text", sans-serif;
    color: white;
}











